.target-cursor-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 9999999 !important;
  /* Ensure cursor appears above all modals and notifications */
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.target-cursor-dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: #00B8A3;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.target-cursor-corner {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 3px solid #00B8A3;
  box-sizing: border-box;
}

.corner-tl {
  left: 50%;
  top: 50%;
  border-right: none;
  border-bottom: none;
  transform: translate(calc(-50% - 18px), calc(-50% - 18px));
}

.corner-tr {
  left: 50%;
  top: 50%;
  border-left: none;
  border-bottom: none;
  transform: translate(calc(-50% + 6px), calc(-50% - 18px));
}

.corner-br {
  left: 50%;
  top: 50%;
  border-left: none;
  border-top: none;
  transform: translate(calc(-50% + 6px), calc(-50% + 6px));
}

.corner-bl {
  left: 50%;
  top: 50%;
  border-right: none;
  border-top: none;
  transform: translate(calc(-50% - 18px), calc(-50% + 6px));
}